@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.rdp-root {
  --rdp-accent-color: #171717 !important;
  --rdp-today-color: #171717 !important;
}
